In [1]:
import pandas as pd
import json
from tqdm import tqdm
line_count = len(open("review.json").readlines())
user_ids, business_ids, stars, dates = [], [], [], []
with open("review.json") as f:
  for line in tqdm(f, total=line_count):
       blob = json.loads(line)
       user_ids += [blob["user_id"]]
       business_ids += [blob["business_id"]]
       stars += [blob["stars"]]
       dates += [blob["date"]]
ratings = pd.DataFrame(
   {"user_id": user_ids, "business_id": business_ids, "rating": stars, "date": dates}
)
user_counts = ratings["user_id"].value_counts()
active_users = user_counts.loc[user_counts >= 5].index.tolist()

100%|██████████| 6685900/6685900 [01:11<00:00, 93509.04it/s]

In [131]:
business_counts = ratings["business_id"].value_counts()
popular_business = business_counts.loc[business_counts >= 5].index.tolist()

In [135]:
popular_business[0:5]

['4JNXUYY8wbaaDmk3BPzlWw',
 'RESDUcs7fIiihp38-d6_6g',
 'K7lWdNUhCbcnEvI0NhGewg',
 'f4x1YBxkLrZg652xt2KR5g',
 'cYwJA2A6I12KNkm2rtXd5g']

In [143]:
len(popular_business)

142165

In [46]:
len(active_users)

286130

In [2]:
ratings.shape

(6685900, 4)

In [8]:
ratings.columns

Index(['user_id', 'business_id', 'rating', 'date'], dtype='object')

In [4]:
line_count = len(open("business.json").readlines())
business_ids,name, city, stars,review_count,categories = [], [], [], [],[],[]
with open("business.json") as f:
  for line in tqdm(f, total=line_count):
       blob = json.loads(line)
       business_ids += [blob["business_id"]]
       name += [blob["name"]]
       city += [blob["city"]]
       stars += [blob["stars"]]
       review_count += [blob["review_count"]]
       categories += [blob["categories"]]
business = pd.DataFrame(
   {"business_id": business_ids, "name": name, "city": city, "stars": stars,"review_count": review_count,
    "categories": categories}
)

100%|██████████| 192609/192609 [00:02<00:00, 65482.93it/s]

In [7]:
business.columns

Index(['business_id', 'name', 'city', 'stars', 'review_count', 'categories'], dtype='object')

In [112]:
data_1=ratings.merge(business,how='left',on='business_id')

In [113]:
data_1['date']=pd.to_datetime(data_1['date'])

In [114]:
data_1.head()

,user_id,business_id,rating,date,name,city,stars,review_count,categories
0,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-05-07 04:34:36,MountainView Hospital,Las Vegas,2.5,238,"Fitness & Instruction, Doctors, Health & Medic..."
1,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,2017-01-14 21:30:33,Kelly Cardenas Salon - Hard Rock Hotel & Casino,Las Vegas,4.5,66,"Beauty & Spas, Hair Stylists, Makeup Artists, ..."
2,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,2016-11-09 20:09:03,J. Philipp Centers for Family and Cosmetic Den...,Chandler,3.5,39,"Health & Medical, Cosmetic Dentists, Orthodont..."
3,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,2018-01-09 20:56:38,Regal Beagle Pub,Calgary,3.0,13,"Bars, Pubs, Nightlife, Tapas Bars, Restaurants"
4,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,2018-01-30 23:07:38,White Teeth AZ,Scottsdale,4.5,75,"Teeth Whitening, Beauty & Spas"

In [115]:
data_1[data_1['city']=='NY'].shape

(0, 9)

In [116]:
data_1.shape

(6685900, 9)

In [122]:
data_1.date.max()

Timestamp('2018-11-14 18:13:26')

In [123]:
data_1=data_1[data_1.date>'2018-07-01']

In [130]:
data_1.business_id.nunique()

92907

In [158]:
data_2=data_1[data_1.categories.str.contains('Pizza',na=False)]

In [159]:
data_2.shape

(28412, 9)

In [160]:
data_2.head()

,user_id,business_id,rating,date,name,city,stars,review_count,categories
751,txHu-M3p2tLKSpNGMWUO0Q,C2skZUb7BLpv3e78Mcf5cA,1.0,2018-09-03 01:40:55,Pizza Hut,North Las Vegas,2.0,41,"Pizza, Restaurants"
1382,84MPXt_hRIABXN09eTxG-g,a0v7Si0DK4cIko7AQY4YXg,4.0,2018-08-23 21:45:39,Egg Works,Las Vegas,4.5,999,"Restaurants, Burgers, Breakfast & Brunch, Amer..."
1427,QPS8x5UbSNbVhZUQA7WHGg,ygZSfAsnlztdeWZOlJA2Ug,5.0,2018-09-25 05:14:27,Barro's Pizza,Tempe,4.0,92,"Sandwiches, Italian, Pizza, Restaurants"
2142,9E2FcvChcPPv1dgOx3k_NA,htVvtLIFftBLqzRISjReDw,4.0,2018-09-25 13:31:53,The Cheesecake Factory,Toronto,3.0,450,"Restaurants, Desserts, Salad, Food, Pizza, Bur..."
2576,kCj31kiI9QL81bMaFed4qg,ygZSfAsnlztdeWZOlJA2Ug,4.0,2018-08-14 04:05:04,Barro's Pizza,Tempe,4.0,92,"Sandwiches, Italian, Pizza, Restaurants"

In [161]:
data_2=data_2[(data_2.user_id.isin(active_users))]

In [162]:
data_2=data_2[(data_2.business_id.isin(popular_business))]

In [127]:
data_2.rating.quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1])

0.1    1.0
0.2    3.0
0.3    3.0
0.4    4.0
0.5    4.0
0.6    5.0
0.7    5.0
0.8    5.0
0.9    5.0
1.0    5.0
Name: rating, dtype: float64

In [163]:
data_2.shape

(16732, 9)

In [164]:
data_2.business_id.nunique()

2937

In [165]:
data_2.user_id.nunique()

13054

In [65]:
sum(data_1.categories.str.contains('Pizza',na=False))

394428

In [47]:
data_2=data_1..groupby('categories')['categories'].count()

In [107]:
data_2.shape

(712379, 9)

In [44]:
data_2.to_csv('abc.csv')

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [43]:
data_2.head()

city
                  3
110 Las Vegas    74
AGINCOURT         7
AVON             21
AZ                3
Name: city, dtype: int64