In [2]:
import pandas as pd
import json
from tqdm import tqdm

In [3]:
line_count = len(open("../data/review.json").readlines())
user_ids, business_ids, stars, dates = [], [], [], []
with open("../data/review.json") as f:
  for line in tqdm(f, total=line_count):
       blob = json.loads(line)
       user_ids += [blob["user_id"]]
       business_ids += [blob["business_id"]]
       stars += [blob["stars"]]
       dates += [blob["date"]]
ratings = pd.DataFrame(
   {"user_id": user_ids, "business_id": business_ids, "rating": stars, "date": dates}
)
user_counts = ratings["user_id"].value_counts()
active_users = user_counts.loc[user_counts >= 5].index.tolist()

100%|██████████| 6685900/6685900 [01:08<00:00, 98169.23it/s]

In [4]:
business_counts = ratings["business_id"].value_counts()
popular_business = business_counts.loc[business_counts >= 5].index.tolist()

In [5]:
popular_business[0:5]

['4JNXUYY8wbaaDmk3BPzlWw',
 'RESDUcs7fIiihp38-d6_6g',
 'K7lWdNUhCbcnEvI0NhGewg',
 'f4x1YBxkLrZg652xt2KR5g',
 'cYwJA2A6I12KNkm2rtXd5g']

In [6]:
len(popular_business)

142165

In [7]:
len(active_users)

286130

In [8]:
ratings.shape

(6685900, 4)

In [9]:
ratings.columns

Index(['business_id', 'date', 'rating', 'user_id'], dtype='object')

In [11]:
line_count = len(open("../data/business.json").readlines())
business_ids,name, city, stars,review_count,categories = [], [], [], [],[],[]
with open("../data/business.json") as f:
  for line in tqdm(f, total=line_count):
       blob = json.loads(line)
       business_ids += [blob["business_id"]]
       name += [blob["name"]]
       city += [blob["city"]]
       stars += [blob["stars"]]
       review_count += [blob["review_count"]]
       categories += [blob["categories"]]
business = pd.DataFrame(
   {"business_id": business_ids, "name": name, "city": city, "stars": stars,"review_count": review_count,
    "categories": categories}
)

100%|██████████| 192609/192609 [00:03<00:00, 59332.33it/s]

In [12]:
business.columns

Index(['business_id', 'categories', 'city', 'name', 'review_count', 'stars'], dtype='object')

In [13]:
data_1=ratings.merge(business,how='left',on='business_id')

In [14]:
data_1['date']=pd.to_datetime(data_1['date'])

In [15]:
data_1.head()

,business_id,date,rating,user_id,categories,city,name,review_count,stars
0,ujmEBvifdJM6h6RLv4wQIg,2013-05-07 04:34:36,1.0,hG7b0MtEbXx5QzbzE6C_VA,"Fitness & Instruction, Doctors, Health & Medic...",Las Vegas,MountainView Hospital,238,2.5
1,NZnhc2sEQy3RmzKTZnqtwQ,2017-01-14 21:30:33,5.0,yXQM5uF2jS6es16SJzNHfg,"Beauty & Spas, Hair Stylists, Makeup Artists, ...",Las Vegas,Kelly Cardenas Salon - Hard Rock Hotel & Casino,66,4.5
2,WTqjgwHlXbSFevF32_DJVw,2016-11-09 20:09:03,5.0,n6-Gk65cPZL6Uz8qRm3NYw,"Health & Medical, Cosmetic Dentists, Orthodont...",Chandler,J. Philipp Centers for Family and Cosmetic Den...,39,3.5
3,ikCg8xy5JIg_NGPx-MSIDA,2018-01-09 20:56:38,5.0,dacAIZ6fTM6mqwW5uxkskg,"Bars, Pubs, Nightlife, Tapas Bars, Restaurants",Calgary,Regal Beagle Pub,13,3.0
4,b1b1eb3uo-w561D0ZfCEiQ,2018-01-30 23:07:38,1.0,ssoyf2_x0EQMed6fgHeMyQ,"Teeth Whitening, Beauty & Spas",Scottsdale,White Teeth AZ,75,4.5

In [16]:
data_1[data_1['city']=='NY'].shape

(0, 9)

In [17]:
data_1.shape

(6685900, 9)

In [18]:
data_1.date.max()

Timestamp('2018-11-14 18:13:26')

In [19]:
data_1=data_1[data_1.date>'2018-07-01']

In [20]:
data_1.business_id.nunique()

92907

In [21]:
data_2=data_1[data_1.categories.str.contains('Pizza',na=False)]

In [22]:
data_2.shape

(28412, 9)

In [23]:
data_2.head()

,business_id,date,rating,user_id,categories,city,name,review_count,stars
751,C2skZUb7BLpv3e78Mcf5cA,2018-09-03 01:40:55,1.0,txHu-M3p2tLKSpNGMWUO0Q,"Pizza, Restaurants",North Las Vegas,Pizza Hut,41,2.0
1382,a0v7Si0DK4cIko7AQY4YXg,2018-08-23 21:45:39,4.0,84MPXt_hRIABXN09eTxG-g,"Restaurants, Burgers, Breakfast & Brunch, Amer...",Las Vegas,Egg Works,999,4.5
1427,ygZSfAsnlztdeWZOlJA2Ug,2018-09-25 05:14:27,5.0,QPS8x5UbSNbVhZUQA7WHGg,"Sandwiches, Italian, Pizza, Restaurants",Tempe,Barro's Pizza,92,4.0
2142,htVvtLIFftBLqzRISjReDw,2018-09-25 13:31:53,4.0,9E2FcvChcPPv1dgOx3k_NA,"Restaurants, Desserts, Salad, Food, Pizza, Bur...",Toronto,The Cheesecake Factory,450,3.0
2576,ygZSfAsnlztdeWZOlJA2Ug,2018-08-14 04:05:04,4.0,kCj31kiI9QL81bMaFed4qg,"Sandwiches, Italian, Pizza, Restaurants",Tempe,Barro's Pizza,92,4.0

In [24]:
data_2=data_2[(data_2.user_id.isin(active_users))]

In [25]:
data_2=data_2[(data_2.business_id.isin(popular_business))]

In [26]:
data_2.rating.quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1])

0.1    1.0
0.2    3.0
0.3    3.0
0.4    4.0
0.5    4.0
0.6    5.0
0.7    5.0
0.8    5.0
0.9    5.0
1.0    5.0
Name: rating, dtype: float64

In [27]:
data_2.shape

(16732, 9)

In [28]:
data_2.business_id.nunique()

2937

In [29]:
data_2.user_id.nunique()

13054

In [30]:
sum(data_1.categories.str.contains('Pizza',na=False))

28412

In [32]:
data_2=data_1.groupby('categories')['categories'].count()

In [33]:
data_2.shape

(52871,)

In [34]:
data_2.to_csv('abc.csv')

/mnt/c/Users/amogh/Appledore/Fall-2019/Personalisation-Fall/Yelp-Restaurants-RecSys/venv-yelp/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [35]:
data_2.head()

categories
3D Printing, Graphic Design, Professional Services, Local Services, Auto Customization, Automotive    3
3D Printing, Local Services, Printing Services                                                        1
ATV Rentals/Tours, Active Life                                                                        9
ATV Rentals/Tours, Active Life, Jet Skis                                                              1
ATV Rentals/Tours, Active Life, Tours, Event Planning & Services, Hotels & Travel, Automotive         4
Name: categories, dtype: int64